<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrganIA_MockupPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom_css.css" />

</head>
<body>

<div class="wrapper">
        <nav id="navbar">
            <header>
                <h1>
                    <a>OrganIA</a>
                </h1>
            </header>
    
            <div id="navlinks">
                <div id="navbox">
                    <a asp-page="/ReceiverPanel" id="ReceiverIcon">
                        <i class="fa fa-file-alt"></i> <span class="nav-text">Link 1</span>
                    </a>
                    <a asp-page="/Index" id="IndexIcon">
                        <i class="fa fa-desktop"></i>
                    </a>
                    <a>
                        <i class="fa fa-map-marker-alt"></i>
                    </a>
                    <a>
                        <i class="fa fa-user"></i>
                    </a>
                    <a>
                        <i class="fa fa-chart-line"></i>
                    </a>
                    <a asp-page="/About" id="AboutIcon">
                        <i class="fa fa-comment-dots"></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
</div>

<footer class="border footer text-muted">
    <div class="container">
        &copy; 2020 - OrganIA_MockupPage - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-ui/custom-scrollbar.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
