@page
@model OrganIA_MockupPage.Pages.About

<!DOCTYPE html>

<html>
<head>
    <title>OrganIA</title>
</head>
<body>
<div>
    <h1 class="display-2 text-center">Qui sommes nous ?</h1>
    <p class="font-weight-light about-description text-center pt-lg-5">
        Aujourd'hui 60% des cœurs et poumons destines a être greffes sont jetés car inutilisables faute de temps.
        <br>
        <br>
        Ces délais dans le processus de distribution des organes ainsi que le délai d'établissement d'une liste classée de receveurs potentiels sont chaque année responsables de 500 morts.
        <br>
        <br>
        En effet aujourd'hui dans l’établissement des priorités dans la notation des receveurs d'organes de nombreuses exceptions régionales existent, ralentissant le processus notamment en cardiologie ou les délais sont extrêmement importants et où il est primordial d'avoir une paire donneur receveur aussi vite que possible.
        <br>
        <br>
        Afin de mitiger ce problème de surmortalité et d'accélérer le processus de distribution et d'assignation des organes, nous comptons développer une solution plus ergonomique mais aussi plus efficace que son équivalent actuel.
        <br>
        <br>
        Afin d'atteindre nos buts nous comptons automatiser l'établissement des notes associées aux demandeurs d'organes.
        <br>
        <br>
        Cette automatisation se basera sur les documents et feed-back potentiel de l'agence de la biomédecine, afin de s'accorder aux réglementations et besoins régionaux particuliers.
        <br>
        <br>
        De plus nous établirons un arbre de décisions permettant, au travers de paramètres tels que le rhésus ou la localisation géographique, de suggérer le candidat idéal, remplaçant ainsi différentes couches administratives.
    </p>
    <a class="btn btn-primary" asp-page="/Index">Revenir</a>
</div>
</body>
</html>