@page
@model IndexModel
@{
    ViewData["Title"] = "OrganIA";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur OrganIA</h1>
    <a asp-page="/About">Qui sommes nous ?</a>
</div>
<script language="javascript">
    document.getElementById('IndexIcon').setAttribute('class', 'active');
</script>